<div id="container">
    <div id="flexCon">
        <div class="flex-row">
            <div class="flex-cell flex-cell-s">
                <div class="chart-wrapper">
                    <div class="chart-div">
                        <div class="content">
                                
                <table-style-1 :source='eventListFetchData' />
            
        </div>
                    </div>
                </div>
            </div>
            <div class="flex-cell flex-cell-l">
                <div class="chart-wrapper">
                    <h3 class="chart-title"></h3>
                    <div class="chart-div"></div>
                </div>
            </div>
            <div class="flex-cell flex-cell-s">
                <div class="chart-wrapper">
                    <h3 class="chart-title"></h3>
                    <div class="chart-div chart-done">
                        <div class="chart-loader"><div class="loader"></div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-cell flex-cell-lc">
                <div class="chart-wrapper">
                    <h3 class="chart-title"></h3>
                     <div class="content">
                            
                                
                                <bar3 :chartId='"bar_style_3"'  @listenChild='getChild' />
                            
                        </div>
                </div>
            </div>
            <div class="flex-cell flex-cell-r">
                <div class="chart-wrapper">
                    <h3 class="chart-title"></h3>
                    <div class="chart-div chart-done">
                        

                        <div class="content">
                            
                                
                                <radar-style-1 chartId='radar1' :source='ageRangeData' />
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>